<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise AI - Inframind 2021 Season 4</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="w-full h-screen flex flex-col items-center justify-center">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://api.jsonbin.io/b/602d3d940665b21b00b8f233"  background="transparent"  speed="1"  style="width: 150px; height: 150px;" class="mb-4"  loop  autoplay></lottie-player>
        <h1
            class="w-full text-center font-extrabold text-black text-6xl"
        >Inject Artificial Intelligence <br/> into your life</h1>
        <div class="w-full flex items-center justify-center">
             <a href="http://localhost:5000/emotion"
                class="px-6 py-4 bg-green-400 text-white rounded-lg my-8 text-lg shadow cursor-pointer hover:bg-green-500 mx-4 focus:outline-none"
            >Track Emotion <span rel="emoji">🌝</span>
            </a>
            <a href="http://localhost:5000/age" 
                class="px-6 py-4 bg-green-400 text-white rounded-lg my-8 text-lg shadow cursor-pointer hover:bg-green-500 focus:outline-none"
            >Track Age <span rel="emoji">🔞</span>
            </a>
        </div>
    </div>
</body>
</html>